{{define "dashboard_css.tmpl"}}
<!-- favicon -->
<link rel="shortcut icon" href="assets/dashboard/images/favicon.ico">

<!-- Css -->
<link href="assets/dashboard/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet">
<!-- Main Css -->
<link href="assets/dashboard/libs/simplebar/simplebar.min.css" rel="stylesheet">
<link href="assets/dashboard/libs/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet">
<link href="assets/dashboard/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="assets/dashboard/css/tailwind.css">
{{end}}