<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Admin Dashboard</title>
        {{ template "meta.tmpl" }}
        {{ template "dashboard_css.tmpl" }}

    </head>
    
    <body class="font-nunito text-base text-black dark:text-white dark:bg-slate-900">
        <!-- Loader Start -->
        <!-- <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div> -->
        <!-- Loader End -->


        <div class="page-wrapper toggled">
            <!-- sidebar-wrapper -->
            {{ template "dashboard_sidebar.tmpl" }}
            <!-- sidebar-wrapper  -->

            <!-- Start Page Content -->
            <main class="page-content bg-gray-50 dark:bg-slate-800">
                <!-- Top Header -->
                {{ template "dashboard_top_header.tmpl" }}
                <!-- Top Header -->

                <div class="container-fluid relative px-3">
                    <div class="layout-specing">
                        <!-- Start Content -->
                        {{ template "dashboard_content.tmpl" }}
                        <!-- End Content -->
                    </div>
                </div><!--end container-->

                <!-- Footer Start -->
                {{ template "dashboard_footer.tmpl"}}
                <!-- End -->
            </main>
            <!--End page-content" -->
        </div>
        <!-- page-wrapper -->

        <!-- Switcher -->
        {{ template "dashboard_switcher.tmpl" }}
        <!-- Switcher -->

        <!-- LTR & RTL Mode Code -->
        {{ template "dashboard_mode.tmpl" }}
        <!-- LTR & RTL Mode Code -->

        <!-- JAVASCRIPTS -->
        {{ template "dashboard_js.tmpl" }}
        <!-- JAVASCRIPTS -->
    </body>
</html>