{{define "landing_css.tmpl"}}
<!-- favicon -->
<link rel="shortcut icon" href="assets/landing/images/favicon.ico">
<!-- Css -->
<link href="assets/landing/libs/tobii/css/tobii.min.css" rel="stylesheet">
<!-- Main Css -->
<link href="assets/landing/libs/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet">
<link href="assets/landing/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="assets/landing/css/tailwind.css">
{{end}}

