<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>Admin - Work Experience</title>
        {{ template "meta.tmpl" }}
        {{ template "adm_css.tmpl" }}
    </head>
    <body class="font-nunito text-base text-black dark:text-white dark:bg-slate-900">
        <!-- Loader Start -->
        {{ template "loader.tmpl" }}
        <!-- Loader End -->
        <div class="page-wrapper toggled">
            <!-- sidebar-wrapper -->
            {{ template "adm_sidebar.tmpl" }}
            <!-- sidebar-wrapper  -->
            <!-- Start Page Content -->
            <main class="page-content bg-gray-50 dark:bg-slate-800">
                <!-- Top Header -->
                {{ template "adm_top_header.tmpl" }}
                <!-- Top Header -->
                <div class="container-fluid relative px-3">
                    <div class="layout-specing">
                        <!-- Start Content -->
                        <div class="md:flex justify-between items-center">
                            <div>
                                <h5 class="text-lg font-semibold">Work Experience</h5>
                                <ul class="tracking-[0.5px] inline-block sm:mt-0 mt-3">
                                    <li class="inline-block capitalize text-[14px] font-bold duration-500 dark:text-white/70 hover:text-indigo-600 dark:hover:text-white">
                                        <a href="/">Wokdev</a>
                                    </li>
                                    <li class="inline-block text-base text-slate-950 dark:text-white/70 mx-0.5 ltr:rotate-0 rtl:rotate-180">
                                        <i class="uil uil-angle-right-b"></i>
                                    </li>
                                    <li class="inline-block capitalize text-[14px] font-bold text-indigo-600 dark:text-white" aria-current="page">Work Experience</li>
                                </ul>
                            </div>
                            <div>
                                <a
                                    href="javascript:void(0)"
                                    class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-[20px] text-center bg-gray-800/5 hover:bg-gray-800/10 dark:bg-gray-800 border border-gray-800/5 dark:border-gray-800 text-slate-900 dark:text-white rounded-full"
                                    onclick="addWorkExperience.showModal()"
                                    title="Add New"
                                >
                                    <i data-feather="plus" class="h-4 w-4"></i>
                                </a>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 mt-6">
                            <div class="relative overflow-x-auto block w-full bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-md">
                                <table class="w-full text-start">
                                    <thead class="text-base">
                                        <tr>
                                            <th class="text-start p-4 min-w-[128px]">No.</th>
                                            <th class="text-start p-4 min-w-[192px]">Company Name</th>
                                            <th class="text-center p-4 min-w-[200px]">Location</th>
                                            <th class="text-center p-4">Role</th>
                                            <th class="text-center p-4 min-w-[150px]">Start Date</th>
                                            <th class="text-center p-4">Status</th>
                                            <th class="text-end p-4 min-w-[200px]"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th class="text-start border-t border-gray-100 dark:border-gray-800 p-4">#tw001</th>
                                            <td class="text-start border-t border-gray-100 dark:border-gray-800 p-4">
                                                <a href="#" class="hover:text-indigo-600">
                                                    <div class="flex items-center">
                                                        <img src="assets/images/client/01.jpg" class="h-10 w-10 rounded-full shadow dark:shadow-gray-700" alt="">
                                                        <span class="ms-2 font-medium">Howard Tanner</span>
                                                    </div>
                                                </a>
                                            </td>
                                            <td class="text-center border-t border-gray-100 dark:border-gray-800 p-4">
                                                <span class="text-slate-400">(+12)85-4521-7568</span>
                                            </td>
                                            <td class="text-center border-t border-gray-100 dark:border-gray-800 p-4">
                                                <span class="text-slate-400">$253</span>
                                            </td>
                                            <td class="text-center border-t border-gray-100 dark:border-gray-800 p-4">
                                                <span class="text-slate-400">16th Aug 2023</span>
                                            </td>
                                            <td class="text-center border-t border-gray-100 dark:border-gray-800 p-4">
                                                <span class="bg-red-600/10 dark:bg-red-600/20 text-red-600 text-[12px] font-bold px-2.5 py-0.5 rounded h-5 ms-1">Unpaid</span>
                                            </td>
                                            <td class="text-end border-t border-gray-100 dark:border-gray-800 p-4">
                                                <a href="invoice.html" class="py-1 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md">Preview</a>
                                                <a href="#" class="py-1 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white rounded-md ms-2">Print</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-5 flex items-center justify-between">
                                <div>
                                    <a href="#" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-800 border-gray-100 dark:border-gray-700 text-slate-400 hover:text-slate-900 dark:hover:text-white rounded-full">
                                        <i class="mdi mdi-arrow-left"></i>
                                    </a>
                                    <a href="#" class="h-8 w-8 inline-flex items-center justify-center font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-gray-100 dark:bg-gray-700 hover:bg-gray-200 dark:hover:bg-gray-800 border-gray-100 dark:border-gray-700 text-slate-400 hover:text-slate-900 dark:hover:text-white rounded-full">
                                        <i class="mdi mdi-arrow-right"></i>
                                    </a>
                                </div>
                                <span class="text-slate-400">Showing 1 - 8 out of 45</span>
                            </div>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
                <!--end container-->
                <!-- Footer Start -->
                {{ template "adm_footer.tmpl"}}
                <!-- End -->
            </main>
            <!--End page-content" -->
        </div>
        <!-- page-wrapper -->
        <!-- Start Modal -->
        <dialog id="addWorkExperience" class="rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900 text-slate-900 dark:text-white">
            <div class="relative h-auto md:w-[480px] w-300px">
                <div class="flex justify-between items-center px-6 py-4 border-b border-gray-100 dark:border-gray-700">
                    <h3 class="font-bold text-lg">Add Work Experience</h3>
                    <form method="dialog">
                        <button class="size-6 flex justify-center items-center shadow dark:shadow-gray-800 rounded-md btn-ghost">
                            <i data-feather="x" class="size-4"></i>
                        </button>
                    </form>
                </div>
                <div class="p-4">
                    <div>
                        <p class="font-semibold mb-4">Upload the company logo here. Click "Upload Image" Button.</p>
                        <div class="preview-box flex justify-center rounded-md shadow dark:shadow-gray-800 overflow-hidden bg-gray-50 dark:bg-slate-800 text-slate-400 p-2 text-center small w-auto max-h-60">
                            Supports JPG and PNG formats. Max file size: 5MB.
                        </div>
                        <input
                            type="file"
                            id="companyLogo"
                            name="companyLogo"
                            accept="image/*"
                            hidden
                        >
                        <label class="btn-upload py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md mt-6 cursor-pointer" for="companyLogo">
                            Upload Logo
                        </label>
                    </div>
                    <form
                        class="mt-4"
                        method="post"
                        enctype="multipart/form-data"
                        id="workExperienceForm"
                    >
                        <div class="grid grid-cols-12 gap-3">
                            <div class="col-span-12">
                                <label class="font-semibold">Company Name
                                    <span class="text-red-600">*</span>
                                </label>
                                <input
                                    name="company_name"
                                    id="company_name"
                                    type="text"
                                    class="form-input w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2"
                                    placeholder="Company Name"
                                    required
                                >
                            </div>
                            <div class="col-span-12">
                                <label class="font-semibold">Role
                                    <span class="text-red-600">*</span>
                                </label>
                                <input
                                    name="role"
                                    id="role"
                                    type="text"
                                    class="form-input w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2"
                                    placeholder="Role"
                                    required
                                >
                            </div>
                            <div class="md:col-span-6 col-span-12">
                                <label class="font-semibold">Start Date</label>
                                <input
                                    type="date"
                                    name="start_date"
                                    id="start_date"
                                    class="form-input w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2"
                                    required
                                >
                            </div>
                            <div class="md:col-span-6 col-span-12">
                                <label class="font-semibold">End Date</label>
                                <input
                                    type="date"
                                    name="end_date"
                                    id="end_date"
                                    class="form-input w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2"
                                >
                            </div>
                            <div class="col-span-12">
                                <label class="font-semibold">Location</label>
                                <input
                                    name="location"
                                    id="location"
                                    type="text"
                                    class="form-input w-full py-2 px-3 h-10 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2"
                                    placeholder="Location"
                                >
                            </div>
                            <div class="col-span-12">
                                <label class="font-semibold">Description</label>
                                <textarea
                                    name="description"
                                    id="description"
                                    class="form-input w-full py-2 px-3 h-20 bg-transparent dark:bg-slate-900 dark:text-slate-200 rounded outline-none border border-gray-200 focus:border-indigo-600 dark:border-gray-800 dark:focus:border-indigo-600 focus:ring-0 mt-2"
                                    placeholder="Description"
                                ></textarea>
                            </div>
                            <div class="col-span-12">
                                <button type="submit" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md">
                                    Add Work Experience
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </dialog>
        <!-- End Modal -->
        <!-- Switcher -->
        {{ template "adm_switcher.tmpl" }}
        <!-- Switcher -->
        <!-- LTR & RTL Mode Code -->
        {{ template "adm_mode.tmpl" }}
        <!-- LTR & RTL Mode Code -->
        <!-- JAVASCRIPTS -->
        {{ template "adm_js.tmpl" }}
        <script>

            document.addEventListener("DOMContentLoaded", () => {
                const fetchData = async () => {
                    try {
                        // Ganti URL ini sesuai dengan endpoint Anda
                        const response = await axios.get('/api/work-experiences');
                        const data = response.data.data;
                
                        // Seleksi tbody untuk menyisipkan data
                        const tbody = document.querySelector("table tbody");
                        tbody.innerHTML = ""; // Bersihkan isi sebelumnya
                
                        // Iterasi data untuk menambahkan baris tabel
                        data.forEach((item) => {
                        const row = document.createElement("tr");
                        row.innerHTML = `
                            <th class="text-start border-t border-gray-100 dark:border-gray-800 p-4">${item.id}</th>
                            <td class="text-start border-t border-gray-100 dark:border-gray-800 p-4">
                            <a href="#" class="hover:text-indigo-600">
                                <div class="flex items-center">
                                <img src="${item.company_logo_url}" class="h-10 w-10 rounded-full shadow dark:shadow-gray-700" alt="${item.clientName}">
                                <span class="ms-2 font-medium">${item.company_name}</span>
                                </div>
                            </a>
                            </td>
                            <td class="text-center border-t border-gray-100 dark:border-gray-800 p-4">
                            <span class="text-slate-400">${item.location}</span>
                            </td>
                            <td class="text-center border-t border-gray-100 dark:border-gray-800 p-4">
                            <span class="text-slate-400">${item.role}</span>
                            </td>
                            <td class="text-center border-t border-gray-100 dark:border-gray-800 p-4">
                            <span class="text-slate-400">${item.start_date}</span>
                            </td>
                            <td class="text-center border-t border-gray-100 dark:border-gray-800 p-4">
                            <span class="${item.is_active === true ? 'bg-green-600/10 text-green-600' : 'bg-red-600/10 text-red-600'} text-[12px] font-bold px-2.5 py-0.5 rounded h-5 ms-1">"${item.is_active === true ? 'Active' : 'Non Active'}</span>
                            </td>
                            <td class="text-end border-t border-gray-100 dark:border-gray-800 p-4">
                            <a href="invoice.html" class="py-1 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md">Preview</a>
                            <a href="#" class="py-1 px-4 inline-block font-semibold tracking-wide border align-middle duration-500 text-sm text-center bg-indigo-600/5 hover:bg-indigo-600 border-indigo-600/10 hover:border-indigo-600 text-indigo-600 hover:text-white rounded-md ms-2">Print</a>
                            </td>
                        `;
                        tbody.appendChild(row);
                        });
                    } catch (error) {
                        console.error("Error fetching data:", error);
                    }
                };
            
                // Panggil fetchData saat halaman dimuat
                fetchData();
            });
            
            document.getElementById('workExperienceForm').addEventListener('submit', async (e) => {
                e.preventDefault();
        
                // Ambil tanggal dari form
                let startDate = document.getElementById('start_date').value;
                let endDate = document.getElementById('end_date').value;
        
                // Jika start_date ada, konversi ke format yang diinginkan
                if (startDate) {
                    let startDateObj = new Date(startDate);
                    startDate = startDateObj.toISOString(); // Format: "2006-01-02T15:04:05Z07:00"
                }
        
                // Jika end_date kosong, kirimkan tanggal dengan waktu default 00:00:00
                if (!endDate) {
                    let defaultEndDate = new Date();
                    defaultEndDate.setFullYear(1, 1, 1);
                    endDate = defaultEndDate.toISOString(); // Format: "2006-01-02T00:00:00Z07:00"
                } else {
                    // Jika end_date ada, konversi ke format yang diinginkan
                    let endDateObj = new Date(endDate);
                    endDate = endDateObj.toISOString(); // Format: "2006-01-02T15:04:05Z07:00"
                }
        
                // Buat FormData dan append data
                const form = new FormData();
                form.append('company_name', document.getElementById('company_name').value);
                form.append('role', document.getElementById('role').value);
                form.append('start_date', startDate); // Kirimkan tanggal yang sudah terkonversi
                form.append('end_date', endDate); // Kirimkan tanggal yang sudah terkonversi atau default
                form.append('location', document.getElementById('location').value);
                form.append('description', document.getElementById('description').value);
                form.append('file', document.getElementById('companyLogo').files[0]);
        
                try {
                    const response = await axios.post('/api/work-experience', form, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    });
                    const data = response.data;
                    console.log("data: ", data);
                    if (data.success) {
                        PNotify.success({
                            title: 'Create Data Successful',
                            text: `${data.message}`,
                            icon: 'success-icon.png'
                        });
        
                        // Close the dialog
                        document.getElementById('addWorkExperience').close();
        
                        // Reset form fields
                        document.getElementById('workExperienceForm').reset();
        
                        // Optionally, reset the file input
                        document.getElementById('companyLogo').value = "";
                    } else {
                        PNotify.error({
                            title: 'Create Data Failed',
                            text: `${data.message}`,
                            icon: 'error-icon.png'
                        });
                    }
        
                } catch (error) {
                    PNotify.error({
                        title: 'Create Data Failed',
                        text: `${error}`,
                        icon: 'error-icon.png'
                    });
                }
            });
        </script>
        <!-- JAVASCRIPTS -->
    </body>
</html>
